/dtmi/azure/devicemanagment/deviceinformation- @montgomp
/dtmi/meshsystems/* @uriel-kluk
/dtmi/com/microchip/* @randywu763
/dtmi/azurertos/devkit/* @ryanwinter
/dtmi/azureiot/devkit/freertos/* @ryanwinter